body {
  margin: 0;
  font-family: "Diablo", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Diablo";
  src: local("Diablo"), url("./assets/fonts/diablo.woff2") format("woff");
  font-weight: normal;
}
